# Maven
target/
# IDEA
*.iml
.idea/

# Java
*.jar

# ignore ci stuff
/deploy-stuff
.gradletasknamecache

# these are generated and are unneccesarry
package-info.java

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
